.renku-bg {
  background-image: url('/renku-blog/img/background.svg'),linear-gradient(to right, rgb(1, 25, 45),  rgb(1, 25, 45));
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover !important;
}
header  h1.lh-title {
  color: rgb(255,255,255);
  font-weight: 400;
  
}